# AI API Keys
GROQ_API_KEY=

# Flask and JWT
FLASK_SECRET_KEY=
JWT_SECRET=
FLASK_DEBUG=

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bank_crm
DB_USER=postgres
DB_PASSWORD=db_password
