# AI API Keys
OPENAI_API_KEY=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
GROQ_API_KEY=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
#AZURE_OPENAI_ENDPOINT=your_endpoint_here

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bank_crm
DB_USER=postgres
DB_PASSWORD=postgres
